**/*.txt
**/*.zip
**/*.out
**/*.pdf
**/*.o
teste.cpp
**/output/
.vscode/
**/obj/
**/bin/
**/outros/
**/Processo/
**/input/
**/etc/**
4_Semestre/Algoritmos I/Projeto_Pratico_3/stresstest_TP3_Alg1/*
**/__pycache__
**/venv
